.product-main-outer{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 20px;
}



.image-outer{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-outer div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-outer img{
    width: 100%;
    border-radius: 10px;
}

.name-price-outer{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.price{
    color: rgb(153, 148, 148);
    font-weight: 500;
}

.check-icon, .add-btn, .sub-btn, .stock-icon{
    font-size: 18px!important;
    font-weight: 600!important;
}

.choose-outer, .choose-outer span, .qty-outer, .pop-outer, .input-qty-outer, .input-qty-outer span, .po-outer, .po-outer span, .btn-cart-outer{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 5px;
}

.qty-outer span, .pop-outer span{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qty-outer, .pop-outer{
    gap: 10px;
}
.add-btn-outer, .sub-btn-outer{
    width: auto;
    height: auto;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 100%;
    padding: 3px;
}

.add-btn-outer:hover, .sub-btn-outer:hover{
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.option-outer{
    display: flex;
    gap: 5px;
}

.txtQty{
    height: 100%!important;
    width: auto;
    border-style: none;
}